%div{ "ng-controller" => "ScreencastsCtrl" }
  #screencast-list-container
    %input.search-filter{ type: "text", "ng-model" => "searchFilter" }
    %ul
      %li{ "ng-repeat" => "screencast in screencasts | filter: searchFilter", "ng-click" => "showScreencast(screencast, $index)" }
        %h3{ "ng-Class" => "{active: $index == selectedRow}" }
          {{screencast.title}}
          %small ({{screencast.duration}})
  #screencast-view-container{ 'ng-show' =>"selectedScreencast" }
    %h2 {{ selectedScreencast.title }}
    %p {{ selectedScreencast.summary }}
    #player{ 'flow-player' => '' }
    %p
      Published at {{ selectedScreencast.published_at | date: 'mediumDate' }}
      -
      %a{ "ng-href" => "{{ selectedScreencast.link }}" }{{ selectedScreencast.link }}